<h1>Add a State Here</h1>
<form method="post" action ="/states">
    <div>
        <label for="Name">Name:</label>
        <input type ="Text" id="Name" name="Name" />
    </div>
    <div>
        <label for="Abbreviation">Abbreviation:</label>
        <input type="Text" id="Abbreviation" name="Abbreviation" />
    </div>
    <div>
        <button type ="submit">Create State</button>
    </div>
</form>